.button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 5px;
}

.primary {
    background-color: rgb(2, 96, 158);
}