.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(29, 29, 29);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.frame {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.frameInfo {
    background-color: #444444;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

.canvas.cursor {
    cursor: default;
}

.canvas.div,
.canvas.text {
    cursor: crosshair;
}

.resizeHandle {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 1px solid #007aff;
    border-radius: 4px;
    z-index: 10;
}

.handle-tl,
.handle-br {
    cursor: nwse-resize;
}
.handle-tr,
.handle-bl {
    cursor: nesw-resize;
}
.handle-t,
.handle-b {
    cursor: ns-resize;
}
.handle-l,
.handle-r {
    cursor: ew-resize;
}

.handle-tl {
    top: -4px;
    left: -4px;
}
.handle-t {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}
.handle-tr {
    top: -4px;
    right: -4px;
}
.handle-l {
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
}
.handle-r {
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
}
.handle-bl {
    bottom: -4px;
    left: -4px;
}
.handle-b {
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
.handle-br {
    bottom: -4px;
    right: -4px;
}

.dropbefore {
    border-top: 2px dashed #007aff;
}
.dropafter {
    border-bottom: 2px dashed #007aff;
}
.dropinside {
    outline: 2px dashed #007aff;
}
