.sidebar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    height: 100vh;
    color: white;
    z-index: 99;
}

.menu {
    min-width: 300px;
    height: 100%;
    background-color: #282828;
}

.container {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.section {
    padding: 10px;
    border-bottom: 1px solid #3C3C3C;
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
}

.icon {
    width: fit-content;
    height: fit-content;
}

.icon.button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}