.treeview {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.node {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 5px;
}

.line {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.node.active {
    color: white;
    background-color: #444;
}

/* Em src/styles/Treeview.module.css */

.node.top {
    border-top: 2px solid #007aff;
}

.node.bottom {
    border-bottom: 2px solid #007aff;
}

.node.middle {
    background-color: rgba(0, 122, 255, 0.1);
}
